/* Borrower Information Page */

#download_btn {
  border-radius: 12px;
  background: #014421;
  color: white;
  font-size: 14px;
  line-height: 0;
}

.form-label {
  font-weight: 700;
  margin-bottom: 8px !important;
}

.form-control {
  height: 30px;
  border-radius: 10px !important;
  font-size: 14px !important;
}

#borrower_box {
  background-color: #800000;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  padding-bottom: 0;
}

#borrower_box h6 {
  color: white;
  font-weight: 500;
}

#green_btn {
  background: #014421;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
}

#maroon_btn {
  background: #800000;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
}

#cancel_btn {
  background: #736E6E;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
}

  /* modal */

.modal-header {
  background: #800000;
  color: white;
}

.font-italic {
  font-style: italic;
}

.modal-action {
  font-weight: 900;
}

/* End of Borrower Information Page */