
@media only screen and (max-width: 1130px) {
  .parent-img {
    display: none;
  }

}

.parent-img {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0;
}
.parent-img .bg {
  flex-shrink: 0;
  min-width: 100%;
  object-fit: cover; 
}

body {
  background-color: #F5F5F5;
}

.text-col {
  padding-bottom: 150px;
}

h1 {
  margin-top: 8%;
  margin-left: 5%;
  font-size: 300%;
}

.subtitle {
  font-size: 150%;
  margin-left: 5%;
}

.frame {
  display: flex;
  align-items: center;
  padding: 5vh;
  width: 80%;
  height: 16vh;
  margin-top: 20px;
  margin-left: 5%;
  font-size: 190%;
  font-weight: 700;

  background: #FFFFFF;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.icon {
  width: 7vh;
  margin-right: 5vh;
}