body {
  background-color: #F5F5F5;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame{
  width: 110vh;
  min-height: 100px;
  overflow: hidden;
  padding: 7%;
  
  margin-top: 6vh;
  margin-left: 5vw;
  margin-right: 2vw;
  margin-bottom: 6vh;
  background: #FFFFFF;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}

h2 {
  font-weight: 700;
}

.button-form {
  background: #014421;
  border-radius: 30px;
  border: none;
  width: 20vh;

  /* text  */
  font-weight: 700;
  font-size: 3vh;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
}

.inputs {
 background: rgba(196, 196, 196, 0.5);
 border-radius: 0px;
}

label {
  font-weight: 400;
}

img {
  width: 40%;
  min-width:  20%;
  margin-top: 12vh;
  margin-bottom: 8vh;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}

.container {
  max-width: 35vw;
}

.grey-font {
  color: #9B9B9B;
  font-size: 2.5vh;
  font-weight: 400;
}
/*#holder, #amt-review, #amt, #date, #balance, #holder-success, #acctnumber-success, #amt-success, #balance-success */
h3 {
  color: black;
  font-size: 2.5vh;
  font-weight: 700;
}

.back {
  background: #800001;
}

.col-8{
  word-wrap: break-word;
}

.error {
  color: red;
}

.custom {
  min-width: 300px;
  max-width: 500px;
}