body {
	font-family: Roboto;
}

.header{
	margin-top: 50px;
	line-height: 30px;
}

.header-text{
	font-size: 48px;
}

.header-text-loan{
	font-weight: 500;
	color: #014421;
}

.header-text-calculator{
	font-weight: 300;
	color: #696969;
}

.tabs-container{
	margin-bottom: -14px;
}

.tab-btn{
	color: white;
	background-color: #800000;
	border-radius: 15px;
	border-style: solid;
	border-color: #800000;

	min-width: 35%;
	max-width: 35%;

	padding-bottom: 30px;
}

.tab-btn-main-text{
	margin-top: 5px;
	font-size: 20px;
	font-weight: 400;
}

.tab-btn-sub-text{
	margin-top: -22px;
	font-size: 14px;
	font-weight: 200;
}

.calculator-main{
	border: 2px solid #DFDFDF;
	background-color: white;
	border-radius: 5px;

	padding: 35px;
}

.calculator-main-text{
	font-weight: 400;
}

.down-note{
	color: maroon;
	font-size: 13px;
	font-style:italic;
}

.calculate-btn{
	background-color: #800000;
	color: white;
}

.calculate-btn:hover{
	color: #FFFFE0;
}

.reset-btn{
	background-color: #DFDFDF;
}

.calculator-results{
	border: 2px solid #9B9B9B;
	border-radius: 5px;
	background-color: #DFDFDF;
	padding: 35px;
}

.calculator-results-header{
	color: #014421;
	font-weight: 500;
	font-size: 24px;
}

.results-table{
	border:none !important;
}

#errorMsg{
	color: maroon;
	font-style: italic;
	font-size: 12px;
}

#calculatorTab{
	margin-top: -40px;
	margin-left: -4px;
	margin-right: -4px;
	display: flex;
	z-index: 2;
	position: relative;

	border: 5px solid #DFDFDF;
	border-radius: 5px;
	background-color: white;

	padding: 30px;
}
