<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  
    {# CSS #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register-style.css' %}">
</head>

<style>
    p
    {
        font-weight: 600;
    }

    label, .labels
    {
        font-weight: 400;
    }
</style>

<body> 
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="title">
                <span id="register-text-up">UP</span><span id="register-text" style="color: #014421;">Bank
                </span><span id="register-text"> Online Application</span>
            </div>
        </div>
    </div>

    <!-- ACCOUNT INFORMATION HEADER-->
    <div class="row">
        <div class="col-md-12">
            <div id="headers">
                <p style="font-size: 20px; vertical-align: auto; text-align: center;"> ACCOUNT INFORMATION </p>
            </div>
        </div>
    </div>

    <form method="POST">
        {% csrf_token %}
        <!-- ACCOUNT INFORMATION d-flex justify-content-center -->
        <div class="container">
            <div class="row">
                <div class="col-md-6" id="columns">
                    <div class="form-group col-xs-4 col-md-12">
                        <label for="accountnumber" class="form-label"> Account Number<br> </label>
                        <input type="number" class="form-control" id="accountnumber" name="accountnumber">
                    </div>
                    <br>
                    <div class="form-group col-xs-4 col-md-12">
                        <label for="username" class="form-label"> Username<br> </label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                </div>
                <div class="col-md-6" id="columns">
                    <div class="form-group col-xs-4 col-md-12">
                        <label for="password" class="form-label"> Password<br> </label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <br>
                    <div class="form-group col-xs-4 col-md-12">
                        <label for="confirmpassword" class="form-label"> Confirm Password<br> </label>
                        <input type="password" class="form-control" id="confirmpassword" name="confirmpassword">
                    </div>
                </div>
            </div>
        </div>

        <!-- LOANER INFORMATION HEADER -->
        <div class="row">
            <div class="col-md-12">
                <div id="headers">
                    <p style="font-size: 20px; vertical-align: auto; text-align: center;"> LOANER INFORMATION </p>
                </div>
            </div>
        </div>

        <!-- LOANER INFORMATION d-flex justify-content-center -->
        <div class="row">
            <div class="col-md-4" id="columns">
                <div class="form-group col-xs-6 col-md-12">
                    <label for="fullname" class="form-label"> Full Name<br> </label>
                    <input type="text" class="form-control" id="fullname" name="fullname">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="country" class="form-label"> Nationality<br> </label>
                    <input type="text" class="form-control" id="country" name="country">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="email" class="form-label"> Email Address<br> </label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="birthday" class="form-label"> Birthday<br> </label>
                    <input type="date" class="form-control" id="birthday" name="birthday">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="present_address" class="form-label"> Present Address<br> </label>
                    <input type="text" class="form-control" id="present_address" name="present_address">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="prev_address" class="form-label"> Previous Address<br> </label>
                    <input type="text" class="form-control" id="prev_address" name="prev_address">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="telephone_no" class="form-label"> Telephone No. </label>
                    <input type="number" class="form-control" id="telephone_no" name="telephone_no">
                </div>
            </div>
            <div class="col-md-4" id="columns">
                <div class="form-group col-xs-6 col-md-12">
                    <label for="mobilenumber" class="form-label"> Mobile Number<br> </label>
                    <input type="number" class="form-control" id="mobilenumber" name="mobilenumber">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="birthplace" class="form-label"> Birthplace<br> </label>
                    <input type="text" class="form-control" id="birthplace" name="birthplace">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="tin" class="form-label"> TIN </label>
                    <input type="number" class="form-control" id="tin" name="tin">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="sss_gsis_no" class="form-label"> SSS/GSIS No. </label>
                    <input type="number" class="form-control" id="sss_gsis_no" name="sss_gsis_no">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="length_of_stay_years" class="form-label"> Length of Stay (Years) </label>
                    <input type="number" class="form-control" id="length_of_stay_years" name="length_of_stay_years">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="length_of_stay_months" class="form-label"> Length of Stay (Months) </label>
                    <input type="number" class="form-control" id="length_of_stay_months" name="length_of_stay_months">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="cellphone_no" class="form-label"> Cellphone No. </label>
                    <input type="number" class="form-control" id="cellphone_no" name="cellphone_no">
                </div>
            </div>
            <div class="col-md-4" id="columns">
                <div class="form-group col-xs-6 col-md-12">
                    <p class="labels"> Gender </p>
                    <label>
                        <input type="radio" id="male" name="gender" value="Male"> Male
                    </label>
                    <label>
                        <input type="radio" id="female" name="gender" value="Female"> Female
                    </label>
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <p class="labels"> Residency </p>
                    <label>
                        <input type="radio" id="resident" name="residency" value="Resident"> Resident
                    </label>
                    <label>
                        <input type="radio" id="nonresident" name="residency" value="Non-Resident"> Non-Resident
                    </label>
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <p class="labels"> Educational Attainment </p>
                    <select name="educational_attainment" id="educational_attainment" class="dropdown">
                        <option value="Elementary"> Elementary </option>
                        <option value="High School"> High School </option>
                        <option value="Vocational"> Vocational </option>
                        <option value="Undergraduate"> Undergraduate </option>
                        <option value="College"> College </option>
                        <option value="Postgraduate"> Postgraduate </option>
                    </select>
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <p class="labels"> Civil Status </p>
                    <select name="civil_status" id="civil_status" class="dropdown">
                        <option value="Single"> Single </option>
                        <option value="Married"> Married </option>
                        <option value="Legally Separated"> Legally Separated </option>
                        <option value="Widow/Widower"> Widow/Widower </option>
                    </select>
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <p class="labels"> Home Ownership </p>
                    <select name="home_ownership" id="home_ownership" class="dropdown">
                        <option value="Owned"> Owned </option>
                        <option value="Mortgaged"> Mortgaged </option>
                        <option value="Rented"> Rented </option>
                        <option value="Living with Parents/Relatives"> Living with Parents/Relatives</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- LOANER INFORMATION (EMPLOYMENT) HEADER -->
        <div class="row">
            <div class="col-md-12">
                <div id="headers">
                    <p style="font-size: 20px; vertical-align: auto; text-align: center;"> LOANER INFORMATION (EMPLOYMENT) </p>
                </div>
            </div>
        </div>

        <!-- LOANER INFORMATION (EMPLOYMENT) FORMS -->
        <div class="row">
            <div class="col-md-4" id="columns">
                <div class="form-group col-xs-6 col-md-12">
                    <p class="labels"> Source of Income </p>
                    <select name="source_of_income" id="source_of_income" class="dropdown">
                        <option value="Locally Employed - Private"> Locally Employed - Private </option>
                        <option value="Locally Employed - Government"> Locally Employed - Government </option>
                        <option value="Locally Employed - Self-employed"> Locally Employed - Self-employed </option>
                        <option value="OFW Immigrant - Private"> OFW Immigrant - Private </option>
                        <option value="OFW Immigrant - Government"> OFW Immigrant - Government </option>
                        <option value="OFW Immigrant - Self-employed"> OFW Immigrant - Self-employed </option>
                        <option value="OFW Non-Immigrant - Private"> OFW Non-Immigrant - Private </option>
                        <option value="OFW Non-Immigrant - Government"> OFW Non-Immigrant - Government </option>
                        <option value="OFW Non-Immigrant - Self-employed"> OFW Non-Immigrant - Self-employed </option>
                        <option value="Unemployed - Remittance/Allottee"> Unemployed - Remittance/Allottee </option>
                        <option value="Unemployed - Pension/Retired"> Unemployed - Pension/Retired </option>
                        <option value="Unemployed - Student"> Unemployed - Student </option>
                        <option value="Others"> Others </option>
                    </select>
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <p class="labels"> Status of Employment </p>
                    <label>
                        <input type="radio" id="permanent" name="status_of_employment" value="Permanent"> Permanent
                    </label>
                    <label>
                        <input type="radio" id="probationary" name="status_of_employment" value="Probationary"> Probationary
                    </label>
                    <label>
                        <input type="radio" id="permanent" name="status_of_employment" value="Contractual"> Contractual
                    </label>
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <p class="labels"> Position in Company </p>
                    <select name="company_position" id="company_position" class="dropdown">
                        <option value="Non-Officer"> Non-Officer </option>
                        <option value="Jr. Officer"> Jr. Officer </option>
                        <option value="Supervisor"> Supervisor </option>
                        <option value="Middle Officer"> Middle Manager </option>
                        <option value="Sr. Officer"> Sr. Officer </option>
                    </select>
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <p> If OFW, </p>
                    <p class="labels"> Employment Base </p>
                    <label>
                        <input type="radio" id="land" name="employment_base" value="Land"> Land
                    </label>
                    <label>
                        <input type="radio" id="sea" name="employment_base" value="Sea"> Sea
                    </label>
                    <label>
                        <input type="radio" id="air" name="employment_base" value="Air"> Air
                    </label>
                </div>
            </div>
            <div class="col-md-4" id="columns-employed">
                <div class="form-group col-xs-6 col-md-12">
                    <p> If employed, </p>
                    <label for="company_name" class="form-label"> Company Name<br></label>
                    <input type="text" class="form-control" id="company_name" name="company_name">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="office_address" class="form-label"> Office Address<br></label>
                    <input type="text" class="form-control" id="office_address" name="office_address">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="company_web_address" class="form-label"> Company Web Address<br></label>
                    <input type="text" class="form-control" id="company_web_address" name="company_web_address">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="nature_of_business" class="form-label"> Nature of Business<br></label>
                    <input type="text" class="form-control" id="nature_of_business" name="nature_of_business">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="job_title" class="form-label"> Job Title<br></label>
                    <input type="text" class="form-control" id="job_title" name="job_title">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="job_length_of_stay_years" class="form-label"> Length of Stay (in Years) <br></label>
                    <input type="number" class="form-control" id="job_length_of_stay_years" name="job_length_of_stay_years">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="job_length_of_stay_months" class="form-label"> Length of Stay (Months) <br></label>
                    <input type="number" class="form-control" id="job_length_of_stay_months" name="job_length_of_stay_months">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="office_phone_no" class="form-label"> Office Phone No. <br></label>
                    <input type="number" class="form-control" id="office_phone_no" name="office_phone_no">
                </div>
            </div>
            <div class="col-md-4" id="columns-business">
                <div class="form-group col-xs-6 col-md-12">
                    <p> If in business or in practice of profession, </p>
                    <label for="business_name" class="form-label"> Business Name<br></label>
                    <input type="text" class="form-control" id="business_name" name="business_name">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="business_address" class="form-label"> Business Address<br></label>
                    <input type="text" class="form-control" id="business_address" name="business_address">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="business_web_address" class="form-label"> Business Web Address<br></label>
                    <input type="text" class="form-control" id="business_web_address" name="business_web_address">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="nature_of_business_work" class="form-label"> Nature of Work/Business<br></label>
                    <input type="text" class="form-control" id="nature_of_business_work" name="nature_of_business_work">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="job_length_of_operation_years" class="form-label"> Length of Operation (Years) <br></label>
                    <input type="number" class="form-control" id="job_length_of_operation_years" name="job_length_of_operation_years">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="job_length_of_operation_months" class="form-label"> Length of Operation (Months)<br></label>
                    <input type="number" class="form-control" id="job_length_of_operation_months" name="job_length_of_operation_months">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="name_prevemployer_business" class="form-label"> Name of Business/Previous Employer <br></label>
                    <input type="text" class="form-control" id="name_prevemployer_business" name="name_prevemployer_business">
                </div>
            </div>
        </div>

        <!-- DEPENDENTS HEADER -->
        <div class="row">
            <div class="col-md-12">
                <div id="headers">
                    <p style="font-size: 20px; vertical-align: auto; text-align: center;"> DEPENDENTS  </p>
                </div>
            </div>
        </div>

        <!-- DEPENDENTS FORMS -->
        <div class="row">
            <div class="col-md-6" id="columns">
                <div class="form-group col-xs-6 col-md-12">
                    <p> Dependent 1<br></p>
                    <label for="dependent1_name" class="form-label"> Name <br></label>
                    <input type="text" class="form-control" id="dependent1_name" name="dependent1_name">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="dependent1_school" class="form-label"> School <br></label>
                    <input type="text" class="form-control" id="dependent1_school" name="dependent1_school">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="dependent1_age" class="form-label"> Age <br></label>
                    <input type="number" class="form-control" id="dependent1_age" name="dependent1_age">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="dependent1_level" class="form-label"> Level <br></label>
                    <input type="text" class="form-control" id="dependent1_level" name="dependent1_level">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <p class="labels"> Type of School</p>
                    <label>
                        <input type="radio" id="public" name="dependent1_type_of_school" value="Public"> Public
                    </label>
                    <label>
                        <input type="radio" id="exclusive" name="dependent1_type_of_school" value="Exclusive"> Exclusive
                    </label>
                    <label>
                        <input type="radio" id="private_coed" name="dependent1_type_of_school" value="Private Coed"> Private Coed
                    </label>
                </div>
            </div>
            <div class="col-md-6" id="columns">
                <div class="form-group col-xs-6 col-md-12">
                    <p> Dependent 2 <br></p>
                    <label for="dependent1_name" class="form-label"> Name <br></label>
                    <input type="text" class="form-control" id="dependent2_name" name="dependent2_name">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="dependent1_school" class="form-label"> School <br></label>
                    <input type="text" class="form-control" id="dependent2_school" name="dependent2_school">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="dependent1_age" class="form-label"> Age <br></label>
                    <input type="number" class="form-control" id="dependent2_age" name="dependent2_age">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="dependent1_level" class="form-label"> Level <br></label>
                    <input type="text" class="form-control" id="dependent2_level" name="dependent2_level">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <p class="labels"> Type of School</p>
                    <label>
                        <input type="radio" id="public" name="dependent2_type_of_school" value="Public"> Public
                    </label>
                    <label>
                        <input type="radio" id="exclusive" name="dependent2_type_of_school" value="Exclusive"> Exclusive
                    </label>
                    <label>
                        <input type="radio" id="private_coed" name="dependent2_type_of_school" value="Private Coed"> Private Coed
                    </label>
                </div>
            </div>
        </div>

        <!-- INFORMATION OF SPOUSE HEADER -->
        <div class="row">
            <div class="col-md-12">
                <div id="headers">
                    <p style="font-size: 20px; vertical-align: auto; text-align: center;"> INFORMATION OF SPOUSE  </p>
                </div>
            </div>
        </div>

        <!-- INFORMATION OF SPOUSE FORMS -->
        <div class="row">
            <div class="col-md-6" id="columns">
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_full_name" class="form-label"> Full Name <br></label>
                    <input type="text" class="form-control" id="spouse_full_name" name="spouse_full_name">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_gender" class="form-label"> Gender <br></label>
                    <input type="text" class="form-control" id="spouse_gender" name="spouse_gender">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_nationality" class="form-label"> Nationality <br></label>
                    <input type="text" class="form-control" id="spouse_nationality" name="spouse_nationality">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_residency" class="form-label"> Residency <br></label>
                    <input type="text" class="form-control" id="spouse_residency" name="spouse_residency">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_birthdate" class="form-label"> Birthdate <br></label>
                    <input type="date" class="form-control" id="spouse_birthdate" name="spouse_birthdate">
                </div>
            </div>
            <div class="col-md-6" id="columns">
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_birthplace" class="form-label"> Birthplace <br></label>
                    <input type="text" class="form-control" id="spouse_birthplace" name="spouse_birthplace">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <p class="labels"> Educational Attainment </p>
                    <select name="spouse_educational_attainment" id="spouse_educational_attainment" class="dropdown">
                        <option value="Elementary"> Elementary </option>
                        <option value="High School"> High School </option>
                        <option value="Vocational"> Vocational </option>
                        <option value="Undergraduate"> Undergraduate </option>
                        <option value="College"> College </option>
                        <option value="Postgraduate"> Postgraduate </option>
                    </select>
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <p class="labels"> Civil Status </p>
                    <select name="spouse_civil_status" id="spouse_civil_status" class="dropdown">
                        <option value="Single"> Single </option>
                        <option value="Married"> Married </option>
                        <option value="Legally Separated"> Legally Separated </option>
                        <option value="Widow/Widower"> Widow/Widower </option>
                    </select>
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_tin" class="form-label"> TIN Number <br></label>
                    <input type="number" class="form-control" id="spouse_tin" name="spouse_tin">
                </div>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_sss_gsis_no" class="form-label"> SSS/GSIS Number <br></label>
                    <input type="number" class="form-control" id="spouse_sss_gsis_no" name="spouse_sss_gsis_no">
                </div>
            </div>
        </div>

        <!-- INFORMATION OF SPOUSE (EMPLOYMENT) HEADER -->
        <div class="row">
            <div class="col-md-12">
                <div id="headers">
                    <p style="font-size: 20px; vertical-align: auto; text-align: center;"> INFORMATION OF SPOUSE (EMPLOYMENT)  </p>
                </div>
            </div>
        </div>

        <!-- INFORMATION OF SPOUSE (EMPLOYMENT) FORMS -->
        <div class="row">
            <div class="col-md-4" id="columns">
                <div class="form-group col-xs-6 col-md-12">
                    <p class="labels"> Source of Income </p>
                    <select name="spouse_source_of_income" id="spouse_source_of_income" class="dropdown">
                        <option value="Locally Employed - Private"> Locally Employed - Private </option>
                        <option value="Locally Employed - Government"> Locally Employed - Government </option>
                        <option value="Locally Employed - Self-employed"> Locally Employed - Self-employed </option>
                        <option value="OFW Immigrant - Private"> OFW Immigrant - Private </option>
                        <option value="OFW Immigrant - Government"> OFW Immigrant - Government </option>
                        <option value="OFW Immigrant - Self-employed"> OFW Immigrant - Self-employed </option>
                        <option value="OFW Non-Immigrant - Private"> OFW Non-Immigrant - Private </option>
                        <option value="OFW Non-Immigrant - Government"> OFW Non-Immigrant - Government </option>
                        <option value="OFW Non-Immigrant - Self-employed"> OFW Non-Immigrant - Self-employed </option>
                        <option value="Unemployed - Remittance/Allottee"> Unemployed - Remittance/Allottee </option>
                        <option value="Unemployed - Pension/Retired"> Unemployed - Pension/Retired </option>
                        <option value="Unemployed - Student"> Unemployed - Student </option>
                        <option value="Others"> Others </option>
                    </select>
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <p class="labels"> Status of Employment </p>
                    <label>
                        <input type="radio" id="permanent" name="spouse_status_of_employment" value="Permanent">Permanent
                    </label>
                    <label>
                        <input type="radio" id="probationary" name="spouse_status_of_employment" value="Probationary">Probationary
                    </label>
                    <label>
                        <input type="radio" id="permanent" name="spouse_status_of_employment" value="Contractual">Contractual
                    </label>
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <p class="labels"> Position in Company </p>
                    <select name="spouse_company_position" id="spouse_company_position" class="dropdown">
                        <option value="Non-Officer"> Non-Officer </option>
                        <option value="Jr. Officer"> Jr. Officer </option>
                        <option value="Supervisor"> Supervisor </option>
                        <option value="Middle Officer"> Middle Manager </option>
                        <option value="Sr. Officer"> Sr. Officer </option>
                    </select>
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <p> If OFW, </p>
                    <p class="labels"> Employment Base </p>
                    <label>
                        <input type="radio" id="land" name="spouse_employment_base" value="Land">Land
                    </label>
                    <label>
                        <input type="radio" id="sea" name="spouse_employment_base" value="Sea">Sea
                    </label>
                    <label>
                        <input type="radio" id="air" name="spouse_employment_base" value="Air">Air
                    </label>
                </div>
            </div>
            <div class="col-md-4" id="columns-employed">
                <div class="form-group col-xs-6 col-md-12">
                    <p> If employed, </p>
                    <label for="spouse_company_name" class="form-label"> Company Name<br></label>
                    <input type="text" class="form-control" id="spouse_company_name" name="spouse_company_name">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_office_address" class="form-label"> Office Address<br></label>
                    <input type="text" class="form-control" id="spouse_office_address" name="spouse_office_address">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_company_web_address" class="form-label"> Company Web Address<br></label>
                    <input type="text" class="form-control" id="spouse_company_web_address" name="spouse_company_web_address">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_nature_of_business" class="form-label"> Nature of Business<br></label>
                    <input type="text" class="form-control" id="spouse_nature_of_business" name="spouse_nature_of_business">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_job_title" class="form-label"> Job Title<br></label>
                    <input type="text" class="form-control" id="spouse_job_title" name="spouse_job_title">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_job_length_of_stay_years" class="form-label"> Length of Stay (in Years) <br></label>
                    <input type="number" class="form-control" id="spouse_job_length_of_stay_years" name="spouse_job_length_of_stay_years">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_job_length_of_stay_months" class="form-label"> Length of Stay (Months) <br></label>
                    <input type="number" class="form-control" id="spouse_job_length_of_stay_months" name="spouse_job_length_of_stay_months">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_office_phone_no" class="form-label"> Office Phone No. <br></label>
                    <input type="number" class="form-control" id="spouse_office_phone_no" name="spouse_office_phone_no">
                </div>
            </div>
            <div class="col-md-4" id="columns-business">
                <div class="form-group col-xs-6 col-md-12">
                    <p> If in business or in practice of profession, </p>
                    <label for="spouse_business_name" class="form-label"> Business Name<br></label>
                    <input type="text" class="form-control" id="spouse_business_name" name="spouse_business_name">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_business_address" class="form-label"> Business Address<br></label>
                    <input type="text" class="form-control" id="spouse_business_address" name="spouse_business_address">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_business_web_address" class="form-label"> Business Web Address<br></label>
                    <input type="text" class="form-control" id="spouse_business_web_address" name="spouse_business_web_address">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_nature_of_business_work" class="form-label"> Nature of Work/Business<br></label>
                    <input type="text" class="form-control" id="spouse_nature_of_business_work" name="spouse_nature_of_business_work">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_job_length_of_operation_years" class="form-label"> Length of Operation (Years) <br></label>
                    <input type="number" class="form-control" id="spouse_job_length_of_operation_years" name="spouse_job_length_of_operation_years">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_job_length_of_operation_months" class="form-label"> Length of Operation (Months)<br></label>
                    <input type="number" class="form-control" id="spouse_job_length_of_operation_months" name="spouse_job_length_of_operation_months">
                </div>
                <br>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_name_prevemployer_business" class="form-label"> Name of Business/Previous Employer <br></label>
                    <input type="text" class="form-control" id="spouse_name_prevemployer_business" name="spouse_name_prevemployer_business">
                </div>
            </div>
        </div>

        <!-- STATEMENT OF INCOME AND EXPENSES HEADER -->
        <div class="row">
            <div class="col-md-12">
                <div id="headers">
                    <p style="font-size: 20px; vertical-align: auto; text-align: center;"> STATEMENT OF INCOME AND EXPENSES  </p>
                </div>
            </div>
        </div>

        <!-- STATEMENT OF INCOME AND EXPENSES FORMS -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group col-xs-6 col-md-12">
                    <label for="borrower_monthly_income" class="form-label"> Borrower's Monthly Income (Php) <br></label>
                    <input type="number" class="form-control" id="borrower_monthly_income" name="borrower_monthly_income">
                </div>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_monthly_income" class="form-label"> Spouse's Monthly Income (Php) <br></label>
                    <input type="number" class="form-control" id="spouse_monthly_income" name="spouse_monthly_income">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group col-xs-6 col-md-12">
                    <label for="borrower_monthly_expenses" class="form-label"> Borrower's Monthly Expenses (Php) <br></label>
                    <input type="number" class="form-control" id="borrower_monthly_expenses" name="borrower_monthly_expenses">
                </div>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="spouse_monthly_expenses" class="form-label"> Spouse's Monthly Expenses (Php) <br></label>
                    <input type="number" class="form-control" id="spouse_monthly_expenses" name="spouse_monthly_expenses">
                </div>
            </div>
        </div>

        <!-- Statement of Assets and Liabilities HEADER -->
        <div class="row">
            <div class="col-md-12">
                <div id="headers">
                    <p style="font-size: 20px; vertical-align: auto; text-align: center;"> STATEMENT OF ASSETS AND LIABILITIES  </p>
                </div>
            </div>
        </div>

        <!-- Statement of Assets and Liabilities FORMS -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group col-xs-6 col-md-12">
                    <p>Assets </p>
                    <label for="cash_hand_with_banks_details" class="form-label"> Cash on Hand with Banks (Details)<br></label>
                    <input type="text" class="form-control" id="cash_hand_with_banks_details" name="cash_hand_with_banks_details">
                </div>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="cash_hand_with_banks_amount" class="form-label"> Cash on Hand with Banks (Amount)<br></label>
                    <input type="number" class="form-control" id="cash_hand_with_banks_amount" name="cash_hand_with_banks_amount">
                </div>

                <div class="form-group col-xs-6 col-md-12">
                    <label for="real_estate_property_details" class="form-label"> Real Estate Property (Details)<br></label>
                    <input type="text" class="form-control" id="real_estate_property_details" name="real_estate_property_details">
                </div>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="real_estate_property_amount" class="form-label"> Real Estate Property (Amount)<br></label>
                    <input type="number" class="form-control" id="real_estate_property_amount" name="real_estate_property_amount">
                </div>

                <div class="form-group col-xs-6 col-md-12">
                    <label for="motor_vehicle_details" class="form-label"> Motor Vehicle (Details)<br></label>
                    <input type="text" class="form-control" id="motor_vehicle_details" name="motor_vehicle_details">
                </div>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="motor_vehicle_amount" class="form-label"> Motor Vehicle (Amount)<br></label>
                    <input type="number" class="form-control" id="motor_vehicle_amount" name="motor_vehicle_amount">
                </div>

                <!--Loans-->
                <div class="form-group col-xs-6 col-md-12">
                    <p> Liabilities </p>
                    <label for="personal_salary_loan_bank" class="form-label"> Personal Salary Loan (Bank)<br></label>
                    <input type="text" class="form-control" id="personal_salary_loan_bank" name="personal_salary_loan_bank">
                </div>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="personal_salary_loan_amortization" class="form-label"> Personal Salary Loan (Amortization)<br></label>
                    <input type="number" class="form-control" id="personal_salary_loan_amortization" name="personal_salary_loan_amortization">
                </div>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="personal_salary_loan_outstanding_balance" class="form-label"> Personal Salary Loan (Outstanding Balance)<br></label>
                    <input type="number" class="form-control" id="personal_salary_loan_outstanding_balance" name="personal_salary_loan_outstanding_balance">
                </div>

                <div class="form-group col-xs-6 col-md-12">
                    <label for="car_loan_bank" class="form-label"> Car Loan (Bank)<br></label>
                    <input type="text" class="form-control" id="car_loan_bank" name="car_loan_bank">
                </div>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="car_loan_amortization" class="form-label"> Car Loan (Amortization)<br></label>
                    <input type="number" class="form-control" id="car_loan_amortization" name="car_loan_amortization">
                </div>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="car_loan_outstanding_balance" class="form-label"> Car Loan (Outstanding Balance)<br></label>
                    <input type="number" class="form-control" id="car_loan_outstanding_balance" name="car_loan_outstanding_balance">
                </div>

            </div>
            <div class="col-md-6">
                <!--Credit Cards-->
                <div class="form-group col-xs-6 col-md-12">
                    <label for="housing_loan_bank" class="form-label"> Housing Loan (Bank)<br></label>
                    <input type="text" class="form-control" id="housing_loan_bank" name="housing_loan_bank">
                </div>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="housing_loan_amortization" class="form-label"> Housing Loan (Amortization)<br></label>
                    <input type="number" class="form-control" id="housing_loan_amortization" name="housing_loan_amortization">
                </div>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="housing_loan_outstanding_balance" class="form-label"> Housing Loan (Outstanding Balance)<br></label>
                    <input type="number" class="form-control" id="housing_loan_outstanding_balance" name="housing_loan_outstanding_balance">
                </div>

                <div class="form-group col-xs-6 col-md-12">
                    <label for="card1_company" class="form-label"> Credit Card 1 (Company)<br></label>
                    <input type="text" class="form-control" id="card1_company" name="card1_company">
                </div>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="card1_number" class="form-label"> Credit Card 1 (Number)<br></label>
                    <input type="text" class="form-control" id="card1_number" name="card1_number">
                </div>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="card1_expiry_date" class="form-label"> Credit Card 1 (Expiry Date)<br></label>
                    <input type="date" class="form-control" id="card1_expiry_date" name="card1_expiry_date">
                </div>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="card1_credit_limit" class="form-label"> Credit Card 1 (Credit Limit)<br></label>
                    <input type="number" class="form-control" id="card1_credit_limit" name="card1_credit_limit">
                </div>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="card1_outstanding_balance" class="form-label"> Credit Card 1 (Outstanding Balance)<br></label>
                    <input type="number" class="form-control" id="card1_outstanding_balance" name="card1_outstanding_balance">
                </div>

                <div class="form-group col-xs-6 col-md-12">
                    <label for="card2_company" class="form-label"> Credit Card 2 (Company)<br></label>
                    <input type="text" class="form-control" id="card2_company" name="card2_company">
                </div>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="card2_number" class="form-label"> Credit Card 2 (Number)<br></label>
                    <input type="text" class="form-control" id="card2_number" name="card2_number">
                </div>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="card2_expiry_date" class="form-label"> Credit Card 2 (Expiry Date)<br></label>
                    <input type="date" class="form-control" id="card2_expiry_date" name="card2_expiry_date">
                </div>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="card2_credit_limit" class="form-label"> Credit Card 2 (Credit Limit)<br></label>
                    <input type="number" class="form-control" id="card2_credit_limit" name="card2_credit_limit">
                </div>
                <div class="form-group col-xs-6 col-md-12">
                    <label for="card2_outstanding_balance" class="form-label"> Credit Card 2 (Outstanding Balance)<br></label>
                    <input type="number" class="form-control" id="card2_outstanding_balance" name="card2_outstanding_balance">
                </div>
            </div>
        </div>

        <!-- OTHERS HEADER -->
        <div class="row">
            <div class="col-md-12">
                <div id="headers">
                    <p style="font-size: 20px; vertical-align: auto; text-align: center;"> OTHERS  </p>
                </div>
            </div>
        </div>

        <!-- OTHERS FORMS -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group col-xs-6 col-md-12">
                    <p class="labels"> Source of Product Info </p>
                    <select name="source_product_info" id="source_product_info" class="dropdown">
                        <option value="TV / Radio"> TV / Radio </option>
                        <option value="Flyer / Poster / Streamer"> Flyer / Poster / Streamer </option>
                        <option value="Newspaper / Magazine"> Newspaper / Magazine </option>
                        <option value="Direct Mail"> Direct Mail </option>
                        <option value="UPBank Personnel"> UPBank Personnel </option>
                        <option value="UPBank Client"> UPBank Client </option>
                        <option value="Agency"> Agency </option>
                        <option value="Others"> Others </option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group col-xs-6 col-md-12">
                    <input type="checkbox" class="" name="relative_working" id="relative_working" value="True" />
                    <label for="relative_working"><b>Do you have relative working in UPBank?</b></label>
                    <label for="relative_name">If yes, please state their name:</label>
                    <input type="text" class="form-control" name="relative_name" id="relative_name" />
                </div>
            </div>
        </div>
        <br />
        <br />

    </form>

</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>