{% extends 'base.html' %}

{% load static %}

{% block content %}

	<title> UPBank </title>

	{# CSS #}
	<link rel="stylesheet" type="text/css" href="{% static 'css/borrower-information.css' %}">

	<div class="container">

		<div class="row g-2 mt-4">
			<div class="col-md-4 col-sm-6 col-12">
				<h2 class="table-title mb-0">Loan Application No: {{loanapp.loan_account_ref_no}}</h2>
			</div>
			<div class="col-md-8 text-md-end text-sm-end col-sm-6 col-12">
				<a class="btn py-2 px-auto" id="download_btn" href="#"> Download
					<img src="https://img.icons8.com/external-smashingstocks-glyph-smashing-stocks/14/ffffff/external-download-web-smashingstocks-glyph-smashing-stocks-3.png"/>
				</a>
			</div>
			<hr>
		</div>

		<div class="row g-3 mb-3">
			<div class="col-md-4">
		  		<label for="purpose_of_loan" class="form-label">Purpose of Loan</label>
		  		<input type="text" class="form-control" value="{{loanapp.loan_type}}" disabled>
			</div>
			<div class="col-md-2 d-none d-sm-block">
			</div>
			<div class="col-md-4">
		  		<label for="purpose_of_loan" class="form-label">Application Status</label>
		  		<input type="text" class="form-control" value="{{loanapp.application_status}}" disabled>
			</div>
		</div>
		<div class="row g-3 mb-3">
			<div class="col-lg-2 col-md-6">
		  		<label for="" class="form-label">Date of Application</label>
		  		<input type="text" class="form-control" value="{{loanapp.date_of_application}}" disabled>
			</div>
			<div class="col-lg-4 col-md-6">
			    <label for="" class="form-label">Dealer</label>
			    <input type="text" class="form-control" value="{{loanapp.dealer}}" disabled>
			</div>
			<div class="col-lg-2 col-md-4">
				<label for="" class="form-label">Sales Agent</label>
				<input type="text" class="form-control" value="{{loanapp.sales_agent}}" disabled>
			</div>
			<div class="col-lg-2 col-md-4">
				<label for="" class="form-label">Branch</label>
				<input type="text" class="form-control" value="{{loanapp.branch}}" disabled>
			</div>
			<div class="col-lg-2 col-md-4">
				<label for="" class="form-label">Application No.</label>
				<input type="text" class="form-control" value="{{loanapp.loan_account_ref_no}}" disabled>
			</div>
		</div>
		<div class="row g-3 mb-3">
			<div class="col-lg-4 col-md-6">
		  		<label for="" class="form-label">Brand</label>
		  		<input type="text" class="form-control" value="{{loanapp.car_brand}}" disabled>
			</div>
			<div class="col-lg-2 col-md-3">
			    <label for="" class="form-label">Year Model</label>
			    <input type="text" class="form-control" value="{{loanapp.year_model}}" disabled>
			</div>
			<div class="col-lg-2 col-md-3">
				<label for="" class="form-label">Cash Price</label>
				<input type="text" class="form-control" value="{{loan.selling_prize}}" disabled>
			</div>
			<div class="col-lg-2 col-md-6">
				<label for="" class="form-label">Downpayment</label>
				<input type="text" class="form-control" value="{{loan.downpayment}}" disabled>
			</div>
			<div class="col-lg-2 col-md-6">
				<label for="" class="form-label">Payment Term (in months)</label>
				<input type="text" class="form-control" value="{{loan.total_term}}" disabled>
			</div>
		</div>
		<div class="row g-3 mb-3">
			<div class="col-lg-4 col-md-6">
		  		<label for="" class="form-label">Model</label>
		  		<input type="text" class="form-control" value="{{loanapp.car_model}}" disabled>
			</div>
			<div class="col-lg-2 col-md-6">
			    <label for="" class="form-label">Type of Vehicle</label>
			    <input type="text" class="form-control" value="{{loanapp.vehicle_type}}" disabled>
			</div>
			<div class="col-lg-2 col-md-6">
				<label for="" class="form-label">Amount Financed</label>
				<input type="text" class="form-control" value="{{loan.amount_financed}}" disabled>
			</div>
			<div class="col-lg-2 col-md-6">
				<label for="" class="form-label">Add-on Rate (AOR)</label>
				<input type="text" class="form-control" value="{{loan.aor}}%" disabled>
			</div>
			<div class="col-lg-2 col-md-6">
				<label for="" class="form-label">Monthly Amortization</label>
				<input type="text" class="form-control" value="{{loan.monthly_amortization}}" disabled>
		  </div>
		</div>
		{% if loanapp.application_status == 'Approved' %}
		<div class="row g-3 mb-3">
			<div class="col-lg-4 col-md-6">
			    <label for="" class="form-label">Terms Remaining</label>
			    <input type="text" class="form-control" value="{{loan.term_remaining}}" disabled>
			</div>
			<div class="col-lg-2 col-md-6">
				<label for="" class="form-label">Loan Payment Status</label>
				<input type="text" class="form-control" value="{{loan.loan_tag}}" disabled>
			</div>
		</div>
		{% endif %}
		{% if loanapp.application_status == "Rejected" %}
		<div class="row g-3 mb-3">
			<div class="col-lg-12 col-md-6">
		  		<label for="" class="form-label">Reason for Rejection of Application</label>
		  		<input type="text" class="form-control" value="{{loanapp.rejection_reason}}" disabled>
			</div>
		</div>
		{% endif %}
		<div class="row mb-3">
			<div class="col-12 text-end">
				<a href="{% url 'dashboard' %}"> 
					<button type="button" class="btn py-1 px-3" id="maroon_btn">
						BACK
					</button>
				</a>
			</div>
		</div>
	</div> <!--end of container -->

{% endblock %}