@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

html, body {
  height: 100%;
  margin: 0;
}

nav {
  background: linear-gradient(to right, #800000, #014421);
}

.navbar-brand span {
  font-size: 40px;
}

.bank-logo{
  font-weight: 300;
}

.up-logo{
  font-weight: 900;
}

.nav-item .nav-link {
  color: white !important;
  font-weight: 500;
  font-stretch: expanded;
  font-size: 18px;
}