{% extends "base.html" %}

{% load static %}

{% block content %}

	{% if user.groups.all.0.name == "Bank Officer" %}

		<title> Application Information </title>
		{# CSS #}
		<link rel="stylesheet" type="text/css" href="{% static 'css/borrower-information.css' %}">
		
		<div class="row h-100">
	        <div class="col-sm-3 col-md-2 p-0" id="sidebar">
				<div class="p-2 menu-item">
					<a href="{% url 'dashboard' %}" class="nav-link ps-4">All</a>
				</div>
				<div class="p-2 menu-item">
					<a href="{% url 'dashboard-pending' %}" class="nav-link ps-4">Pending</a>
				</div>
				<div class="p-2 menu-item">
					<a href="{% url 'dashboard-approved' %}" class="nav-link ps-4">Approved</a>
				</div>
				<div class="p-2 menu-item">
					<a href="{% url 'dashboard-rejected' %}" class="nav-link ps-4">Rejected</a>
				</div>
	        </div>
	        <main class="col-sm-9 col-md-10">
	            <div class="container">

					<div class="row g-2 mt-4">
						<div class="col-md-4 col-sm-6 col-12">
							<h2 class="table-title mb-0">{{loaner_information.full_name}}</h2>
						</div>
						<div class="col-md-8 text-md-end text-sm-end col-sm-6 col-12">
							<a class="btn py-2 px-auto" id="download_btn" href="#"> Download
								<img src="https://img.icons8.com/external-smashingstocks-glyph-smashing-stocks/14/ffffff/external-download-web-smashingstocks-glyph-smashing-stocks-3.png"/>
							</a>
						</div>
						<hr>
					</div>

					<div class="row g-3 mb-3">
						<div class="col-md-4">
					  		<label for="purpose_of_loan" class="form-label">Purpose of Loan</label>
					  		<input type="text" class="form-control" value="{{loan_application.loan_type}}" disabled>
						</div>
					</div>
					
					{% if loan_application.application_status == "Approved" %}
					<div class="row g-3 mb-3">
						<div class="col-md-6">
					  		<label for="" class="form-label">Principal Borrower</label>
					  		<input type="text" class="form-control" value="{{loaner_information.full_name}}" disabled>
						</div>
						<div class="col-md-6">
						    <label for="" class="form-label">Co-borrower</label>
						    <input type="text" class="form-control" value="{{loaner_information.spouse_full_name}}" disabled>
						</div>
					</div>
					{% endif %}

					<div class="row g-3 mb-3">
						<div class="col-lg-2 col-md-6">
					  		<label for="" class="form-label">Date of Application</label>
					  		<input type="text" class="form-control" value="{{loan_application.date_of_application}}" disabled>
						</div>
						<div class="col-lg-4 col-md-6">
						    <label for="" class="form-label">Dealer</label>
						    <input type="text" class="form-control" value="{{loan_application.dealer}}" disabled>
						</div>
						<div class="col-lg-2 col-md-4">
							<label for="" class="form-label">Sales Agent</label>
							<input type="text" class="form-control" value="{{loan_application.sales_agent}}" disabled>
						</div>
						<div class="col-lg-2 col-md-4">
							<label for="" class="form-label">Branch</label>
							<input type="text" class="form-control" value="{{loan_application.branch}}" disabled>
						</div>
						<div class="col-lg-2 col-md-4">
							<label for="" class="form-label">Application No.</label>
							<input type="text" class="form-control" value="{{loan_application.loan_account_no}}" disabled>
						</div>
					</div>
					<div class="row g-3 mb-3">
						<div class="col-lg-4 col-md-6">
					  		<label for="" class="form-label">Brand</label>
					  		<input type="text" class="form-control" value="{{loan_application.car_brand}}" disabled>
						</div>
						<div class="col-lg-2 col-md-3">
						    <label for="" class="form-label">Year Model</label>
						    <input type="text" class="form-control" value="{{loan_application.year_model}}" disabled>
						</div>
						<div class="col-lg-2 col-md-3">
							<label for="" class="form-label">Cash Price</label>
							<input type="text" class="form-control" value="₱{{loan.selling_prize}}" disabled>
						</div>
						<div class="col-lg-2 col-md-6">
							<label for="" class="form-label">Downpayment</label>
							<input type="text" class="form-control" value="₱{{loan.downpayment}}" disabled>
						</div>
						<div class="col-lg-2 col-md-6">
							<label for="" class="form-label">Term (in months)</label>
							<input type="text" class="form-control" value="{{loan.total_term}}" disabled>
						</div>
					</div>
					<div class="row g-3 mb-3">
						<div class="col-lg-4 col-md-6">
					  		<label for="" class="form-label">Model</label>
					  		<input type="text" class="form-control" value="{{loan_application.car_model}}" disabled>
						</div>
						<div class="col-lg-4 col-md-6">
						    <label for="" class="form-label">Type of Vehicle</label>
						    <input type="text" class="form-control" value="{{loan_application.vehicle_type}}" disabled>
						</div>
						<div class="col-lg-2 col-md-6">
							<label for="" class="form-label">Amount Financed</label>
							<input type="text" class="form-control" value="₱{{loan.amount_financed}}" disabled>
						</div>
						<div class="col-lg-2 col-md-6">
							<label for="" class="form-label">Add-on Rate (AOR)</label>
							<input type="text" class="form-control" value="{{loan.aor}}%" disabled>
						</div>
					</div>

					{% if loan_application.application_status == "Approved" %}
					<div class="d-flex justify-content-center align-items-center mb-3 mt-4" id="borrower_box">
					  <h6>AUTO DEBIT DETAILS</h6>
					</div>
					<div class="row g-3 mb-3">
						<div class="col-lg-4">
					  		<label for="" class="form-label">Bank-Account Number</label>
					  		<input type="text" class="form-control" value="{{loaner_information.account_number.id}}" disabled>
						</div>
						<div class="col-lg-4">
						    <label for="" class="form-label">Monthly Amortization</label>
						    <input type="text" class="form-control" value="₱{{loan.monthly_amortization}}" disabled>
						</div>
						<div class="col-lg-4">
					  		<label for="" class="form-label">Loan Status</label>
					  		<input type="text" class="form-control" value="{{loan.loan_tag}}" disabled>
						</div>
					</div>
					<div class="row g-3 mb-3">
						<div class="col-lg-4">
					  		<label for="" class="form-label">Monthly Loan Payment Schedule</label>
					  		<input type="text" class="form-control" value="Every {{loan.next_pay_date.day}} of the month" disabled>
						</div>
						<div class="col-lg-4">
						    <label for="" class="form-label">1st Loan Payment</label>
						    <input type="text" class="form-control" value="{{loan.next_pay_date}}" disabled>
						</div>
						<div class="col-lg-4">
					  		<label for="" class="form-label">{{loan.total_term}}th Loan Payment</label>
					  		<input type="text" class="form-control" value="{{loan.last_pay_date}}" disabled>
						</div>
					</div>

					{% elif loan_application.application_status == "For Review"  %}

					<div class="d-flex justify-content-center align-items-center mb-3 mt-4" id="borrower_box">
					  <h6>INFORMATION OF BORROWER</h6>
					</div>
					<div class="row g-3 mb-3">
						<div class="col-md-10">
					  		<label for="" class="form-label">Name</label>
					  		<input type="text" class="form-control" value="{{loaner_information.full_name}}" disabled>
						</div>
						<div class="col-md-2">
						    <label for="" class="form-label">Gender</label>
						    <input type="text" class="form-control" value="{{loaner_information.gender}}" disabled>
						</div>
					</div>
					<div class="row g-3 mb-3">
						<div class="col-md-2">
					  		<label for="" class="form-label">Nationality</label>
					  		<input type="text" class="form-control" value="{{loaner_information.nationality}}" disabled>
						</div>
						<div class="col-md-4">
						    <label for="" class="form-label">Residency</label>
						    <input type="text" class="form-control" value="{{loaner_information.residency}}" disabled>
						</div>
						<div class="col-md-2">
							<label for="" class="form-label">Birthdate</label>
							<input type="text" class="form-control" value="{{loaner_information.birthdate}}" disabled>
						</div>
						<div class="col-md-2">
							<label for="" class="form-label">Age</label>
							<input type="text" class="form-control" value="{{loaner_information.calculate_loaner_age}}" disabled>
						</div>
						<div class="col-md-2">
							<label for="" class="form-label">Birthplace</label>
							<input type="text" class="form-control" value="{{loaner_information.birthplace}}" disabled>
						</div>
					</div>
					<div class="row g-3 mb-3">
						<div class="col-md-6 col-lg-4">
					  		<label for="" class="form-label">Educational Attainment</label>
					  		<input type="text" class="form-control" value="{{loaner_information.educational_attainment}}" disabled>
						</div>
						<div class="col-md-6 col-lg-2">
						    <label for="" class="form-label">Civil Status</label>
						    <input type="text" class="form-control" value="{{loaner_information.civil_status}}" disabled>
						</div>
						<div class="col-lg-2">
							<label for="" class="form-label">Tax Identification No.</label>
							<input type="text" class="form-control" value="{{loaner_information.tin}}" disabled>
						</div>
						<div class="col-lg-2">
							<label for="" class="form-label">SSS/GSIS No.</label>
							<input type="text" class="form-control" value="{{loaner_information.sss_gsis_no}}" disabled>
						</div>
						<div class="col-lg-2 col-md-12">
							<label for="" class="form-label" style="font-size: 9px; margin-bottom: 0;">If co-maker, relation to the Principal Applicant</label>
							<input type="text" class="form-control" value="123456789" style="margin-top:0" disabled >
						</div>
					</div>
					<div class="row g-3 mb-3">
						<div class="col-md-12">
					  		<label for="" class="form-label">Present Address</label>
					  		<input type="text" class="form-control" value="{{loaner_information.present_address}}" disabled>
						</div>
					</div>
					<div class="row g-3 mb-3">
						<div class="col-md-12">
					  		<label for="" class="form-label">Previous Address</label>
					  		<input type="text" class="form-control" value="{{loaner_information.prev_address}}" disabled>
						</div>
					</div>
					<div class="row g-3 mb-3">
						<div class="col-md-12">
					  		<label for="" class="form-label">Home Ownership</label>
					  		<input type="text" class="form-control" value="{{loaner_information.home_ownership}}" disabled>
						</div>
					</div>
					<div class="row g-3 mb-3">
						<div class="col-md-6">
					  		<label for="" class="form-label">Residential Telephone No.</label>
					  		<input type="text" class="form-control" value="{{loaner_information.telephone_no}}" disabled>
						</div>
						<div class="col-md-6">
					  		<label for="" class="form-label">Cellphone No.</label>
					  		<input type="text" class="form-control" value="{{loaner_information.cellphone_no}}" disabled>
						</div>
					</div>
					<div class="row g-3 mb-3">
						<div class="col-md-12">
					  		<label for="" class="form-label">Email Address</label>
					  		<input type="text" class="form-control" value="{{loaner_information.email}}" disabled>
						</div>
						<!-- <div class="col-md-6">
					  		<label for="" class="form-label">Preferred Mailing Address</label>
					  		<input type="text" class="form-control" value="Residence" disabled>
						</div> -->
					</div>
					<div class="row mb-3">
						<div class="col-12 text-end">
							<button type="button" class="btn py-1 px-3" id="green_btn" data-bs-toggle="modal" data-bs-target="#approveModal">
								APPROVE
							</button>
							<button type="button" class="btn py-1 px-3" id="maroon_btn" data-bs-toggle="modal" data-bs-target="#rejectModal">
								REJECT
							</button>
						</div>
					</div>

					{% endif %}

					{% if loan_application.application_status == "Rejected" %}
					<div class="row g-3 mb-3">
						<div class="col-lg-12 col-md-6">
					  		<label for="" class="form-label">Reason for Rejection of Application</label>
					  		<input type="text" class="form-control" value="{{loan_application.rejection_reason}}" disabled>
						</div>
					</div>
					{% endif %}

				</div> <!--end of container -->
				
				<form method="POST">
	    		{% csrf_token %}	
					<!-- Approve Modal -->
					<div class="modal fade" id="approveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="staticBackdropLabel">Approve Application?</h5>
									<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
					    		<div class="modal-body">
					    			<div class="m-3">
							    		<h6 class="mb-0">Are you sure you want to <span class="modal-action">APPROVE</span> this Loan Application?</h6>
							    		<h6 class="font-italic">(You cannot change this decision.)</h6>
							    	</div>
							    	<div class="d-flex justify-content-center mb-3">
							    		<button type="submit" class="btn py-1 px-3 me-3" id="green_btn" name="approve_loan">Approve</button>
								        <button type="button" class="btn py-1 px-3" id="cancel_btn" data-bs-dismiss="modal">Cancel</button>
								    </div>
							    </div>
					    	</div>
					  	</div>
					</div>

					<!-- Reject Modal -->
					<div class="modal fade" id="rejectModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
					  	<div class="modal-dialog">
					    	<div class="modal-content">
					    		<div class="modal-header">
					    			<h5 class="modal-title" id="staticBackdropLabel">Reject Application?</h5>
						    		<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
						    	</div>
							    <div class="modal-body">
							    	<div class="m-3">
							    		<h6 class="mb-0">Are you sure you want to <span class="modal-action">REJECT</span> this Loan Application?</h6>
							    		<h6 class="font-italic">(You cannot change this decision.)</h6>
							    	</div>
							    	<div class="mb-3 me-5 ms-5">
							    		<h6 class="mb-0">Reason for Rejection:</h6>
							    		<textarea name = "rejection_reason" class="form-control" style="background: #F2F2F2;"></textarea>
							    	</div>
							    	<div class="d-flex justify-content-center mb-3">
								    	<button type="submit" class="btn py-1 px-3 me-3" id="green_btn" name="reject_loan">Reject</button>
								        <button type="button" class="btn py-1 px-3" id="cancel_btn" data-bs-dismiss="modal">Cancel</button>
								    </div>
						    	</div>
					    	</div>
						</div>
					</div>

				</form>
				

	        </main>
	    </div>

	{% else %}

		<div class="container text-center mt-5">
			<h3>You are not authorized to this page.</h3>
		</div>

	{% endif %}

{% endblock %}