{% extends "base.html" %}

{% load static %}

{% block content %}

	{% if user.groups.all.0.name == "Bank Officer" %}

		<title> Borrower Information </title>
		{# CSS #}
		<link rel="stylesheet" type="text/css" href="{% static 'css/borrower-information.css' %}">
	
		<div class="row h-100">
	        <div class="col-sm-3 col-md-2 p-0" id="sidebar">
				<div class="p-2 menu-item">
					<a href="{% url 'dashboard' %}" class="nav-link ps-4">All</a>
				</div>
				<div class="p-2 menu-item">
					<a href="{% url 'dashboard-pending' %}" class="nav-link ps-4">Pending</a>
				</div>
				<div class="p-2 menu-item">
					<a href="{% url 'dashboard-approved' %}" class="nav-link ps-4">Approved</a>
				</div>
				<div class="p-2 menu-item">
					<a href="{% url 'dashboard-rejected' %}" class="nav-link ps-4">Rejected</a>
				</div>
	        </div>
	        <main class="col-sm-9 col-md-10">
	            <div class="container">

					<div class="row g-2 mt-4">
						<div class="col-md-4 col-sm-6 col-12">
							<h2 class="table-title mb-0">Juan Dela Cruz</h2>
						</div>
						<div class="col-md-8 text-md-end text-sm-end col-sm-6 col-12">
							<a class="btn py-2 px-auto" id="download_btn" href="#"> Download
								<img src="https://img.icons8.com/external-smashingstocks-glyph-smashing-stocks/14/ffffff/external-download-web-smashingstocks-glyph-smashing-stocks-3.png"/>
							</a>
						</div>
						<hr>
					</div>

					<div class="row g-3 mb-3">
						<div class="col-md-4">
					  		<label for="purpose_of_loan" class="form-label">Purpose of Loan</label>
					  		<input type="text" class="form-control" value="Personal" disabled>
						</div>
					</div>
					<div class="row g-3 mb-3">
						<div class="col-md-6">
					  		<label for="" class="form-label">Principal Borrower</label>
					  		<input type="text" class="form-control" value="Dela Cruz, Juan Reyes" disabled>
						</div>
						<div class="col-md-6">
						    <label for="" class="form-label">Co-borrower</label>
						    <input type="text" class="form-control" value="Dela Cruz, Marietta Mendez" disabled>
						</div>
					</div>
					<div class="row g-3 mb-3">
						<div class="col-lg-2 col-md-6">
					  		<label for="" class="form-label">Date of Application</label>
					  		<input type="text" class="form-control" value="04/25/2020" disabled>
						</div>
						<div class="col-lg-4 col-md-6">
						    <label for="" class="form-label">Dealer</label>
						    <input type="text" class="form-control" value="Automotive Icon" disabled>
						</div>
						<div class="col-lg-2 col-md-4">
							<label for="" class="form-label">Sales Agent</label>
							<input type="text" class="form-control" value="Gina Bee" disabled>
						</div>
						<div class="col-lg-2 col-md-4">
							<label for="" class="form-label">Branch</label>
							<input type="text" class="form-control" value="Alabang" disabled>
						</div>
						<div class="col-lg-2 col-md-4">
							<label for="" class="form-label">Loan Account No.</label>
							<input type="text" class="form-control" value="123456789" disabled>
						</div>
					</div>
					<div class="row g-3 mb-3">
						<div class="col-lg-4 col-md-6">
					  		<label for="" class="form-label">Brand</label>
					  		<input type="text" class="form-control" value="Mercedes Benz" disabled>
						</div>
						<div class="col-lg-2 col-md-3">
						    <label for="" class="form-label">Year Model</label>
						    <input type="text" class="form-control" value="2022" disabled>
						</div>
						<div class="col-lg-2 col-md-3">
							<label for="" class="form-label">Cash Price</label>
							<input type="text" class="form-control" value="2,260,000.00" disabled>
						</div>
						<div class="col-lg-2 col-md-6">
							<label for="" class="form-label">Downpayment</label>
							<input type="text" class="form-control" value="670,000.00" disabled>
						</div>
						<div class="col-lg-2 col-md-6">
							<label for="" class="form-label">Term (in months)</label>
							<input type="text" class="form-control" value="60" disabled>
						</div>
					</div>
					<div class="row g-3 mb-3">
						<div class="col-lg-4 col-md-6">
					  		<label for="" class="form-label">Model</label>
					  		<input type="text" class="form-control" value="2022 A 180 Progressive" disabled>
						</div>
						<div class="col-lg-4 col-md-6">
						    <label for="" class="form-label">Type of Vehicle</label>
						    <input type="text" class="form-control" value="Brand New" disabled>
						</div>
						<div class="col-lg-2 col-md-6">
							<label for="" class="form-label">Amount of Loan</label>
							<input type="text" class="form-control" value="1,833,000.00" disabled>
						</div>
						<div class="col-lg-2 col-md-6">
							<label for="" class="form-label">Add-on Rate (AOR)</label>
							<input type="text" class="form-control" value="5.25%" disabled>
						</div>
					</div>
					<div class="d-flex justify-content-center align-items-center mb-3 mt-4" id="borrower_box">
					  <h6>AUTO DEBIT DETAILS</h6>
					</div>
					<div class="row g-3 mb-3">
						<div class="col-lg-4">
					  		<label for="" class="form-label">Bank-Account Number</label>
					  		<input type="text" class="form-control" value="PSBSA-xxxxxxxx4655" disabled>
						</div>
						<div class="col-lg-4">
						    <label for="" class="form-label">Monthly Amortization</label>
						    <input type="text" class="form-control" value="36,185.66" disabled>
						</div>
						<div class="col-lg-4">
					  		<label for="" class="form-label">Loan Status</label>
					  		<input type="text" class="form-control" value="Ongoing" disabled>
						</div>
					</div>
					<div class="row g-3 mb-3">
						<div class="col-lg-4">
					  		<label for="" class="form-label">Monthly Loan Payment Schedule</label>
					  		<input type="text" class="form-control" value="Every 4th day of each month" disabled>
						</div>
						<div class="col-lg-4">
						    <label for="" class="form-label">1st Loan Payment</label>
						    <input type="text" class="form-control" value="March 4, 2022" disabled>
						</div>
						<div class="col-lg-4">
					  		<label for="" class="form-label">60th Loan Payment</label>
					  		<input type="text" class="form-control" value="February 4, 2027" disabled>
						</div>
					</div>
				</div> <!--end of container -->
	        </main>
	    </div>

	{% else %}

		<div class="container text-center mt-5">
			<h3>You are not authorized to this page.</h3>
		</div>

	{% endif %}

{% endblock %}