{% extends "base.html" %}

{% load static %}

{% block content %}

<title>Contact Us</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/contact-us-style.css' %}">

<div class="container-fluid ">
	<div class="row">
		<div class="col text-col">
			<h1><b> Contact Us </b></h1>
			<span class="subtitle"> Get in touch and let us know how we can help. </span>
			<div class="frame">
				<img src="{% static 'img/mail.png' %}" class="img-fluid icon">
				support@upbank.com
			</div>

			<div class="frame">
				<img src="{% static 'img/phone-call.png' %}" class="img-fluid icon">
				(632) 1234 5678
			</div>
		</div>
		<div class="col-sm-auto box parent-img ">
				<img src="{% static 'img/call_center2.jpg' %}">
			
		</div>
	</div>
</div>


{% endblock %}