{% extends "base.html" %}

{% load static %}

{% block content %}

<title>Fund Deposit</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/fund-deposit-style.css' %}">

<div class="container-fluid ">
	<div class="row">
		<div class="col-6 center">
			<div class="frame">
				<h2 class="center">Account Details</h2>
				<br>
				<form action="{% url 'fund_deposit_review' %}">
					<div class="form-group col-lg-16">												
						<label for="acctnumber" class="form-label">Account Number</label>
						<input type="text" class="form-control" id="acctnumber" placeholder="0123456789" disabled>
						<br>
						<label for="holder" class="form-label">Account Holder</label>
						<input type="text" class="form-control" id="holder" placeholder="Juan Dela Cruz" disabled>
						<br>
						<label for="amt" class="form-label">Amount to Deposit</label>
						<input type="number" class="form-control" id="amt">
					</div>
					<br><br>
					<div class="d-flex justify-content-center">
						<button type="submit" class="center button-form">Continue</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-6 text-center">
			<img src="{% static 'img/contract.png' %}" class="img-fluid">

			<div class="container">
				<div class="position-relative m-4">
					<div class="progress" style="height: 5px;">
						<div class="progress-bar bg-success" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
					</div>

					<button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-success rounded-pill" style="width: 2rem; height:2rem;">1</button>
					<span class="position-absolute top-100 start-0 translate-middle text-success" style="margin-top:50px;">Fill Details</span>

					<button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-success rounded-pill" style="width: 2rem; height:2rem;" disabled>2</button>
					<span class="position-absolute top-100 start-50 translate-middle text-muted" style="margin-top:50px;">Review</span>

					<button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-success rounded-pill" style="width: 2rem; height:2rem;" disabled>3</button>
					<span class="position-absolute top-100 start-100 translate-middle text-muted" style="margin-top:50px;">Success</span>

				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}