{% extends 'base.html' %}
{% block content %}
<!--TO-DO:
	Check if whole webpage can be accessible by any user - logged in/logged out
	Store interest rate/s in database?
	Polish formatting of down payment part
	Validate input - should be numbers
-->
<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>UPBank: Loan Calculator</title>
	<link rel="stylesheet" href="/static/css/loan_calculator_style.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet'>
</head>

<body>
	<div class="container h-100 mt-4">
		<div class="header">
			<span class="header-text header-text-loan">LOAN</span><span class="header-text header-text-calculator">CALCULATOR</span><br>
			<span style="font-size: 24px; margin-top: -50px;">Your loan, at your terms.</span>
		</div>

		<div class="mt-4 row">
			<div class="btn-grp">
				<button type="button" class="tab-btn tablinks active" style="margin-left: -4px;" onclick="openTab('calculatorTab')">
					<p class="tab-btn-main-text">CAR LOAN</p>
					<p class="tab-btn-sub-text">Loan Amortization</p>
				</button>
				<button type="button" class="tab-btn tablinks" style="margin-left: -4px;" onclick="openTab('ratesTab')">
					<p class="tab-btn-main-text">LOAN RATES</p>
					<p class="tab-btn-sub-text">Learn More</p>
				</button>
			</div>
		</div>

		<div id="calculatorTab" class="row tabcontent">
			<div class="col calculator-main">
				<label for="sellingPrice" class="calculator-main-text">Selling Price</label><br>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">PHP</span>
					</div>
					<input id="sellingPrice" name="sellingPrice" type="text" class="w-75 form-control" onchange="setTwoNumberDecimal(this)">
				</div>
				<br>

				<span class="calculator-main-text">Down Payment</span><br>
				<span class="note"><b>NOTE:</b> Minimum down payment is 20% of the selling price.</span><br>

				<label for="downPercentage" class="calculator-main-text">Percentage</label>
				<label for="downAmount" class="calculator-main-text" style="margin-left: 28%;">Amount</label>

				<div class="input-group">
					<input type="text" id="downPercentage" name="downPercentage" class="form-control" value="20.00" onchange="setTwoNumberDecimal(this)">
					<div class="input-group-append">
						<span class="input-group-text">%</span>
					</div>
					<div class="input-group-prepend" style="margin-left: 20px;">
						<span class="input-group-text">PHP</span>
					</div>
					<input type="text" id="downAmount" name="downAmount" class="form-control input-sm" onchange="setTwoNumberDecimal(this)">
				</div>
				<br>

				<label for="paymentTerms" class="calculator-main-text">Payment Terms</label><br>
				<select name="paymentTerms" id="paymentTerms" class="form-control form-select">
					<option value="12">12 months</option>
					<option value="18">18 months</option>
					<option value="24">24 months</option>
					<option value="36">36 months</option>
					<option value="48">48 months</option>
					<option value="60">60 months</option>
				</select>
				<br>

				<p class="mt-3" id="errorMsg"></p>

				<button type="button" id="reset-btn" class="btn btn-default mx-auto reset-btn">Reset</button>
				<button type="button" id="calculate-btn" class="btn btn-default mx-auto calculate-btn">Calculate</button>
			</div>

			<div id="calculator-results" class="col calculator-results">
				<span class="calculator-results-header">LOAN CALCULATION RESULTS</span><br>
				<span style="font-size: 14px;">Your loan details are as follows:</span>
				
				<table class="results-table w-100">
					<col style="width:45%">
					<col style="width:55%">
				  	<tbody>
				    <tr>
				      <td class="results-label" align="right">Selling Price</td>
				      <td class="results-text">PHP <span id="sellingPriceResults"></span></td>
				    </tr>
				    <tr>
				      <td class="results-label" align="right">Down Payment</td>
				      <td class="results-text">PHP <span id="downPaymentResults"></span></td>
				    </tr>
				    <tr>
				      <td class="results-label" align="right">Payment Term</td>
				      <td class="results-text"><span id="paymentTermsResults"></span> months</td>
				    </tr>
				    <tr>
				      <td class="results-label" align="right">Amount Financed</td>
				      <td class="results-text">PHP <span id="amountFinancedResults"></span></td>
				    </tr>
				    <tr>
				      <td class="results-label" align="right">Your Monthly Amortization</td>
				      <td class="results-text">PHP <span id="monthlyAmortizationResults"></span></td>
				    </tr>
				  </tbody>
				</table>
				
				<p class="note"><b>NOTE: </b> Computation is indicative only and may change without prior notice. Please check our standard interest rates for more information on the current calculation process.</p>
			</div>
		</div>

		<div id="ratesTab" class="row tabcontent">

		</div>
	</div>

	<!--JAVASCRIPT-->
	<script src="/static/js/loan_calculator.js"></script>
</body>
</html>
{% endblock %}