{% extends "base.html" %}

{% load static %}

{% block content %}

	{% if user.groups.all.0.name == "Bank Officer" %}
			
		<title> Dashboard </title>
		
	    <div class="row h-100">
	        <div class="col-sm-3 col-md-2 p-0" id="sidebar">
				<div class="p-2 menu-item">
					<a href="{% url 'dashboard' %}" class="nav-link ps-4">All</a>
				</div>
				<div class="p-2 menu-item">
					<a href="{% url 'dashboard-pending' %}" class="nav-link ps-4">Pending</a>
				</div>
				<div class="p-2 menu-item">
					<a href="{% url 'dashboard-approved' %}" class="nav-link ps-4">Approved</a>
				</div>
				<div class="p-2 menu-item active">
					<a href="{% url 'dashboard-rejected' %}" class="nav-link ps-4">Rejected</a>
				</div>
	        </div>
	        <main class="col-sm-9 col-md-10">
	            <div class="container">

					<div class="row g-2 mb-4 mt-5">
						<h3 class="table-title mb-0">REJECTED LOAN APPLICATIONS</h3>
	            		<hr>
						
						<div class="col-8">
							<div class="box">
								<svg fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="20px" height="20px"><path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"/></svg>
								<input id="nameFilter" type="text" placeholder="Search...">
							</div>
						</div>
						<div class="col-4">
							<div class="box">
								<select id="amountFilter">
									<option value="" disabled selected hidden>Amount Filter</option>
									<option value="">< 1,000,000</option>
									<option value="">2,0000,000 to 5,000,000</option>
									<option value="">> 5,000,000</option>
								</select>
							</div>
						</div>
					</div>

					<div class="table-responsive">
						<table class="table table-sm table-hover text-center" id="myTable">
						  <thead>
						  	<th>Loan Account Number</th>
						    <th>Borrower Name</th>
						    <th>Loan Amount</th>
						    <th>Loan Term</th>
						    <th>Application Date</th>
						  </thead>
						  <tbody>
						    <tr>
						    	<td>123456789</td>
								<td>Dela Cruz, Juan</td>
								<td>₱2,690,00</td>
								<td>60 months</td>
								<td>Feb. 30, 2022</td>
							</tr>
						  </tbody>
						</table>
					</div> <!--end of table-responsive -->
				</div> <!--end of container -->
	        </main>
	    </div>

	{% else %}

		<div class="container text-center mt-5">
			<h3>You are not authorized to this page.</h3>
		</div>

	{% endif %}

{% endblock %}